<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O que é hack.river ?</h2>
                <h3 class="section-subheading text-muted">Um pouco sobre nós e nosso propósito</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <script async class="speakerdeck-embed" data-id="2095c85465e14cbbab8077f8448e29b7" data-ratio="2.5" src="//speakerdeck.com/assets/embed.js"></script>
            </div>
        </div>
    </div>
</section>
