<section id="channels">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Canais</h2>
                <h3 class="section-subheading text-muted">O que tá rolando e onde a galera se encontra</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="http://www.meetup.com/hack-river/" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Meetup</h4>
                    <p class="text-muted">Nossos encontros (meetups) são organizados e divulgados no meetup.com, fique
                        ligado!</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://slack.hackriver.com.br" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Slack</h4>
                    <p class="text-muted">Quer discutir sobre front-end, back-end, jobs ou simplesmente jogar conversa
                        fora
                        ? Entra aqui.</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.facebook.com/hackriver/" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Facebook</h4>
                    <p class="text-muted">Nosso meio de notícias e divulgações. Se quiser se manter atualizado, curta
                        nossa
                        página.</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://speakerdeck.com/hackriver" target="_blank">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                </span>
                    <h4 class="service-heading">Speaker Deck</h4>
                    <p class="text-muted">Quer rever as talks já apresentadas ? Veja aqui todos os slides.</p>
                </a>
            </div>
        </div>
    </div>
</section>
