<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Parceiros</h2>
                <h3 class="section-subheading text-muted">
                    A cada meetup que realizamos contamos com o apoio de empresas e pessoas que nos ajudam muito! E aqui
                    o nosso muito obrigado a todos.
                </h3>
            </div>
        </div>
        <div class="row partners-logos">
            <div class="col-md-3 col-sm-6">
                <a href="http://www.nextbiz.com.br/" target="_blank">
                    <img src="img/logos/nextbiz.png" class="img-responsive img-centered" alt="Nextbiz">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.facebook.com/pages/Caf%C3%A9-no-Ponto-Cafeteria/217833971561763">
                    <img src="img/logos/cafenoponto.jpg" class="img-responsive img-centered" alt="Café no ponto">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.bluefish.com.br/">
                    <img src="img/logos/bluefish.png" class="img-responsive img-centered" alt="Bluefish">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.cammino.com.br" target="_blank">
                    <img src="img/logos/logo-cammino.png" class="img-responsive img-centered" alt="Cammino">
                </a>
            </div>
        </div>
        <div class="row partners-logos">
            <div class="col-md-3 col-sm-6">
                <a href="http://www.commandalkon.com/" target="_blank">
                    <img src="img/logos/commandalkon.png" class="img-responsive img-centered" alt="Command alkon">
                </a>
            </div>
        </div>
    </div>
</section>
